#collapsibleNavbar > ul > div.btn-group.show > div > a:hover {
    background-color: #e9ecef;
    color: #6c757d;
}

#collapsibleNavbar > ul > div.btn-group.show > div > a {
    color: white;
}

#collapsibleNavbar > ul > div > a:hover {
    color: white;
}

#collapsibleNavbar > ul > div.btn-group.show > div {
    background-color: #6c757d;
}

#logout-btn:hover {
    color: white;
}

#login-btn:hover, #home-btn:hover, #register-btn:hover {
    color: white;
}

.rowNum {
    font-weight: bold;
}

.txt-blue {
    color:royalblue;
}

.btn-sm {
    width: 5rem;
}

/* unvisited link */
.moderator-link:link {
    color: white;
}

/* visited link */
.moderator-link:visited {
    color: white;
}

/* mouse over link */
.moderator-link:hover {
    color: white;
}

/* selected link */
.moderator-link:active {
    color: white;
}

.btn-txt-white {
    color: white;
}

.btn-txt-white:hover {
    color: white;
}

.txt-song-add {
    padding: 6px 12px;
}

#addPictureBtn {
    margin-top: 30px;
}