<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons::head"></head>
<body>
<nav th:replace="fragments/commons::nav"></nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 txt-blue">Welcome to moderator page</h1>
        <p class="lead">This is a website where you can find your favourite artists and bands.<br>You can manage
            musicians here.</p>
        <hr class="my-4">
    </div>
</div>

<div class="container text-center p-5">
    <h2 class="txt-blue">This is a page for albums management.</h2>

    <button type="button" id="btnShowAlbums" class="btn btn-light btn-lg btn-block">Show all albums</button>

    <div class="form-group p-5">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Album</th>
                <th scope="col">Released</th>
                <th scope="col">Price [BGN]</th>
                <th scope="col">Genre</th>
                <th scope="col">Musician</th>
            </tr>
            </thead>
            <tbody id="albumsContainer">
            </tbody>
        </table>
    </div>

</div>

<hr th:replace="fragments/commons::hr">

<footer class="navbar bg-secondary navbar-dark navbar-expand-md fixed-bottom">
    <ul class="nav ml-auto mr-auto">
        <li class="nav-item">
            <span class="nav-link" style="color: whitesmoke">SoftUni.BG Java Web - Spring Advanced Final Project</span>
        </li>
    </ul>
</footer>

<script th:replace="fragments/commons::jQuery"></script>
<script th:replace="fragments/commons::PopperJS"></script>
<script th:replace="fragments/commons::BootstrapJS"></script>
<script src="/app.js"></script>
</body>
</html>