<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons::head"></head>
<body>
<nav th:replace="fragments/commons::nav"></nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 txt-blue">Welcome to register page</h1>
        <p class="lead">This is a website where you can find your favourite artists and bands.<br>Please fill in all the
            fields in the form to register.</p>
        <hr class="my-4">
    </div>
</div>

<div class="container bg-blur p-5">
    <form th:action="@{/users/register}"
          th:method="post"
          th:object="${userModel}"
          class="needs-validation" novalidate>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="username">Username:</label>
                <input th:field="*{username}"
                       th:errorclass="is-invalid"
                       type="text" class="form-control w-auto" id="username" placeholder="Enter username">
                <!-- Error message for wrong username start-->
                <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                       class="text-danger rounded col-md-6 p-1">
                </small>
                <!-- EO: Error message for wrong username start-->
            </div>
            <div class="form-group col-md-6">
                <label for="email">Email:</label>
                <input th:field="*{email}"
                       th:errorclass="is-invalid"
                       type="email" class="form-control w-auto" id="email" placeholder="Enter email">
                <!-- Error message for wrong email start-->
                <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                       class="text-danger rounded col-md-6 p-1">
                </small>
                <!-- EO: Error message for wrong email start-->
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="firstName">First name:</label>
                <input th:field="*{firstName}"
                       th:erroclass="is-invalid"
                       type="text" class="form-control w-auto" id="firstName" placeholder="Enter first name">
                <!-- Error message for wrong username start-->
                <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                       class="text-danger rounded col-md-6 p-1">
                </small>
                <!-- EO: Error message for wrong username start-->
            </div>
            <div class="form-group col-md-6">
                <label for="lastName">Last name:</label>
                <input th:field="*{lastName}"
                       th:errorclass="is-invalid"
                       type="text" class="form-control w-auto" id="lastName" placeholder="Enter last name">
                <!-- Error message for wrong username start-->
                <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                       class="text-danger rounded col-md-6 p-1">
                </small>
                <!-- EO: Error message for wrong username start-->
            </div>
            <div class="form-group col-md-6">
                <label for="password">Password:</label>
                <input th:field="*{password}"
                       th:erroclass="is-invalid"
                       type="password" class="form-control w-auto" id="password" placeholder="Enter password">
            </div>
            <div class="form-group col-md-6">
                <label for="confirmPassword">Confirm password:</label>
                <input th:field="*{confirmPassword}"
                       th:errorclass="is-invalid"
                       type="password" class="form-control w-auto" id="confirmPassword" placeholder="Confirm password"
                       name="confirmPassword" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group col-md-6">
                <label for="age">Enter age:</label>
                <input th:field="*{age}"
                       th:errorclass="is-invalid"
                       type="number" class="form-control w-auto" id="age" placeholder="Enter age" min="18">
                <!-- Error message for wrong age start-->
                <small th:if="${#fields.hasErrors('age')}" th:errors="*{age}"
                       class="text-danger rounded col-md-6 p-1">
                </small>
                <!-- EO: Error message for wrong age start-->
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>

    </form>
</div>

<hr th:replace="fragments/commons::hr">

<footer class="navbar bg-secondary navbar-dark navbar-expand-md fixed-bottom">
    <ul class="nav ml-auto mr-auto">
        <li class="nav-item">
            <span class="nav-link" style="color: whitesmoke">SoftUni.BG Java Web - Spring Advanced Final Project</span>
        </li>
    </ul>
</footer>

<script th:replace="fragments/commons::jQuery"></script>
<script th:replace="fragments/commons::PopperJS"></script>
<script th:replace="fragments/commons::BootstrapJS"></script>
</body>
</html>